#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp M &kp W &kp K
                &kp A &kp S &kp D
                &kp L &kp H &none &mo 1
            >;
        };

        freeze_layer {
            bindings = <
                &kt M &kt W &kt K
                &kt A &kt S &kt D
                &kt L &kt H &none &trans
            >;
        };
    };
};
